:root {
  --bg-level-0: black;
  --bg-level-1: #242737;
  --bg-level-1-text-0: #91b1ba;
  --divider-color-level-1: #0b0f1f;

  --body-text-color-0: white;
  --body-text-color-1: #d8dadf;
  --body-text-color-2: #b3b7ba;

  --body-text-primary-color: #ea8016;
}
